.card {
  background-color: $accent_3;
  padding: 15px;
}

.content-card {
  background-color: $dark;
  color: $light;
  border-radius: 15px;
  padding: 50px 15px 38px 15px;
}

.event-card {
  padding: 0px 0px 0px 15px;
  background-color: $accent_2;
  color: $light;
  overflow: hidden;
  max-height: 218px;
  border-radius: 15px;
}

.card-img {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.categoryCard {
  @extend .event-card;
  padding: 15px;
  background-color: $accent_2;
  height: 350px;
  max-height: 350px;
}

.card-title {
  color: $light;
  font-size: 1.5rem;
  h4 {
    color: $dark;
    margin-bottom: 15px;
  }
}

.card-text {
  p {
    color: $dark;
  }
}

.streamCard {
  height: 730px;
}
