.event-detail-header {
  background-image: url("../images/detailHeader.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// .header-background {
//   background-image: linear-gradient(red, yellow);
// }

.header-text-block {
  //position: absolute;
  bottom: 45;
  left: 35;
  span {
    color: #fff;
    font-size: 1.5rem;
  }
}
